:root {
  --bg-color: #032d30;
  --text-color: #ecfdfe;
  --border-color: #044044;
  --primary-color: #088d96;
  --secondary-color: #044044;
}

* {
  color: var(--text-color);
  font-family: 'Sometype Mono', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
  width: 300px;
  margin: 2rem auto;
}

.game-container header {
  text-align: center;
}

#game-field {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--bg-color);
  height: 100px;
  width: 100px;
  background-color: var(--primary-color);
}

#new-game-btn {
  padding: 10px;
  background-color: var(--secondary-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

#game-over {
  display: none;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  text-align: center;
}
